
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5em;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .upgrade {
    width: 12em;
    text-align: center;
}

header .upgrade button {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.6em;
}

header .upgrade button:hover {
    padding: 12px 22px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.overflow {
    overflow: auto;
}
/* nav */


nav {
   color: white;
   position: fixed;
   top: 0;
   left: 0;
   float: left;
   z-index: 2;
   background-color: black;
   width: 200px;
   height: calc(100vh - 48px);
   padding: 15px;
}

.nav-user-bot {
    color: rgb(112, 89, 89);
    align-self: flex-end;
}

.nav-cont-flex {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
}

.logo-spotify {
    width: 80%;
}

nav ul li a svg {
    width: 15%;
    vertical-align: text-bottom;
}

nav a {
    color: #AEB6BF ;
    text-decoration: none;
}

.user-nav {
    margin-right: 10px;
    width: 15%;
    border-radius: 50%;
    vertical-align: middle;
    background-color: grey;
}

.download-app {
    color: grey;
    font-size: 0.8em;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.playlist {
    height: 35vh;
    width: 100%;
}

/* hover */

nav ul li:hover a{
    color: white;
}

nav ul li:hover svg {
    filter: invert(1) brightness(100);
} 

 .download-app:hover .install {
    color: white;
    cursor: pointer;
}


ul li {
    list-style: none;
}

ul {
    line-height: 35px;
}

/* main */

.cont-main {
    float: right;
    width: calc(100% - 200px);
    margin-top: 5em;
    background-color: blue;
}

/* position */

.position-r {
    position: relative;
}

/* margin */

.mar-top-10 {
    margin-top: 10px;
}

.mar-bot-20 {
    margin-bottom: 20px;
}

/* height */

.h-100 {
    height: 100%;
}


/* font-size  */

.font-s-40 {
    font-size: 40px;
    vertical-align: middle;
}

/* colori */
.c-white {
    color: white;
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 3em;
    background-color: grey;
    width: 100%;
}