
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5em;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .upgrade {
    width: 12em;
    text-align: center;
}

header .upgrade button {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.6em;
}

header .upgrade button:hover {
    padding: 12px 22px;
}

/* nav */

.container-main-nav {
    display:flex;
    flex-direction: row;
}

nav {
   ;
   z-index: 999;
   background-color: cornsilk;
   width: 20%;
}

/* main */

main {
    width: 80%;
    margin-top: 5em;
    background-color: blue;
}

/* width */


