

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
  }
  
  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: red;
    overflow: hidden;
  }

  /* nav */
  
  .main-nav {
      float: left;
      width: 230px;
      height: 100%;
      min-height: 520px;
      background-color: black;
      padding: 15px 15px 0 15px;
      font-size: 0.8em;
    }
    .main-nav-top {
        width: 100%;
        height: calc(100% - 80px);
    }
    .main-nav-bottom {
        width: 100%;
        height: 80px;
        color: rgb(112, 89, 89)
    }
    
    .main-nav-top ul li a svg{
        width: 12%;
        vertical-align: top;
    }
    
    .main-nav-top a {
        color: #AEB6BF ;
        text-decoration: none;
    }
    
    .user-nav {
        margin-right: 10px;
        width: 12%;
        border-radius: 50%;
        vertical-align: middle;
        background-color: grey;
    }
    
    .playlist {
        height: 35vh;
        width: 100%;
    }
    
    .download-app {
      color: grey;
        font-size: 0.8em;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
      }
      
      .main-nav-top ul li:hover a{
        color: white;
      }
      
      .main-nav-top ul li:hover svg {
        filter: invert(1) brightness(100);
      } 
      
      .download-app:hover .install {
        color: white;
        cursor: pointer;
      }
      
      .logo-spotify {
          width: 80%;
      }
    
      ul li {
          list-style: none;
      }
    
      ul {
          line-height: 30px;
      }
    /* /nav */

    /* main */
    main {
        width: 100%;
        height: calc(100% - 90px);
        background-color: blueviolet;
        overflow: hidden;
    }

    .main-content {
        float: left;
        width: calc(100% - 230px);
        height: 100%;
        padding-top: calc(90px + 2em);
        padding-bottom: 2em;
        background-color: darkcyan;
        overflow: auto;
  }

  /* header main */
  .header-main {
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 230px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .header-main .upgrade {
    width: 14em;
    text-align: center;
  }
  
  .header-main .upgrade button {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.6em;
  }
  
  .header-main .upgrade button:hover {
      padding: 12px 22px;
    }
    
  /* margin */

  .mar-bot-20 {
      margin-bottom: 20px;
  }

  .mar-top-10 {
      margin-top: 10px;
  }

  .mar-right-30 {
    margin-right: 30px;
  }

  .mar-right-20 {
    margin-right: 20px;
  }

/* font-size e weight */

  .font-s-40 {
      font-size: 40px;
  }

  .font-s-08 {
    font-size: 0.8em;
  }

  .font-s-07 {
    font-size: 0.7em;
  }

  .font-w-2 {
    font-weight: 700;
  }

  #play-font {
    font-size: 2.3em;
    vertical-align: sub;
  }

  /* text-aling */

  .t-align{
    text-align: center;
  }

  /* overflow */

  .overflow {
      overflow: auto;
  }

  /* colori */

  .c-white {
      color: white;
  }

  .c-grey {
    color: grey;
  }

  /* width */


  .v-align {
    vertical-align: middle;
  }

  .width-50-px {
    width: 50px;
    margin-right: 10px;
  }

  .width-20 {
    width: 20%;
  }

  .width-45 {
    width: 45%;
  }

  
  
  /* height */
  .h100 {
    height: 100%;
  }
  
  #align-self-c {
    align-self: center;
  }

  /* padding */

  .pad-bot-10 {
    padding-bottom: 10px;
  }
  
  /* footer */
  
  footer {
    width: 100%;
    height: 90px;
    background-color: #373b38;
    display: flex;
    justify-content: space-between;
  }
  
  .col-s {
    display: flex;
    align-self: center;
    padding-left: 10px;
  }
  
  .col-m {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }

  .col-m .t-align i {
    font-size: 1.2em;
    margin-right: 5%;  
  }
  
  .col-r {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
  }
  
  .minute-song {
    display: flex;
    justify-content: space-between;
  }
  
  .minute-song span {
    display: inline-block;
  }

  .in-min-bar {
    position: relative;
    height: 100%;
    width: 30%;
    background-color: lightgray;
  }

  .prova {
    position: absolute;
    right: 0;
    bottom: -8px;
    padding: 10px;
    background-color: honeydew;
    border-radius: 50%;
    display: none;
  }

  .in-min-bar:hover .prova {
    display: block;
  }

  .minute-bar {
    height: 7px;
    align-self: center;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    vertical-align: middle;
    background-color: grey;
  }

  .minute-bar:hover .in-min-bar {
    background-color: green;
    cursor: pointer;
  }
  
  .song-name:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
  }
  
  footer i:hover {
    color: white;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .main-nav {
      width: 50px;
    }
    .main-content {
      width: calc(100% - 50px);
    }
    .main-call-to-action {
    width: calc( 100% - 50px);
    }
    .width-50-px {
      width: 30%;
      height: 30%;
    }
  }
  